body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}



footer {
    top: 24px;
    right: 0px;
    bottom: 24px;
    left: 0px;
    padding: 40px;
    background-color: lightgrey;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: turquoise;
}

.nav-links {
    color: black;
    font-weight: bold;
    font-size: larger;
}

.recipes {
    color: turquoise;
    text-decoration: none;
}

h1 {
    color: turquoise;
}

a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

#main-link-color {
    font: white;
    font-weight: bold;
}

tr:nth-child(even) {background-color: lightgrey;}
